## Sample Environment File

ZBD_HOST={ Zebede Host URL }
ZBD_KEY={ Zebede API Key }
MONGODB_URI={ Full Mongo URL with user:pass and /db-name }
SESSION_KEY={ Private key used for encrypting session data }
LOCKBOX_KEY={ Private key used to authenticate lockbox }
